.chats {
    display: none;
    flex-flow: column;
    flex-grow: 1;
    height: 100%;
    margin: 0;
    min-width: 0;

    .chat-header {
        padding: 0 1rem;
        .media-content {
            line-height: 37px;
        }
        .media-right {
            padding-top: 11px;
        }
    }

    .chat-footer {
        padding: .5rem 2rem;
    }
}

.chat-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2rem;
    height: 80%;
    
    .message {
        font-size: 1rem;
        margin-bottom: 1.25rem;

        &.right {
            text-align: right;
            .message-content {
                background-color: #659798;
                color: white;
            }
        }

        .message-content {
            background-color: #eceff1;
            border-radius: 1rem;
            color: black;
            display: inline-block;
            padding: 1rem;
            max-width: 58%;
        }
    }
}
