.has-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .10);
}

.has-text-centered {
    text-align: center;
}

.has-color {
    color: #546e7a;
}

.is-flex {
    display: flex;
}

.is-block {
    display: block;
}

.is-cursor {
    cursor: pointer;
}