.media {
    align-items: flex-start;
    display: flex;
    padding: .5rem;
    text-align: inherit;

    &.is-active {
        background-color: #f2f2f2;
        border-radius: 10px;
    }

    .media-list {
        margin-right: -15px;
    }
}

.media-left,
.media-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.media-left {
    display: flex;
    margin-right: 1rem;
}

.media-content {
    text-align: inherit;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.media-right {
    margin-left: .5rem;
}