@windicss;

::-webkit-scrollbar {
    background-color: transparent;
    height: 6px;
    width: 6px
}

::-webkit-scrollbar-thumb {
    transition: background .2s ease-in-out;
    background-color: transparent;
    border-radius: 9999px
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

:hover::-webkit-scrollbar-thumb {
    background-color: rgb(192, 192, 192)
}

.sidebar-content {
    height: calc(100vh - 6.5rem);
}

.main-content {
    height: calc(100vh - 7.25rem);
}

.message:hover .button-dropdown,
.sidebar-list:hover .button-dropdown {
    opacity: 1;
}